p,
span,
li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    /* font-weight: 500; */
    font-weight: 300;
}

a:focus-visible {
    outline: 2px solid var(--mainLinkColor);
    outline-offset: 4px;
    border-radius: 4px;
}

li {
    line-height: 1.9em;
}